/*

TUBE LINE COLOURS!

Bakerloo rgb(174, 97, 24) #AE6118
Central rgb(228, 31, 31) #E41F1F
Circle rgb(248, 212, 45) #F8D42D
District rgb(0, 165, 117) #00A575
H&C rgb(232, 153, 168) #E899A8
Jubilee rgb(143, 152, 158) #8F989E
Metro rgb(137, 50, 103) #893267
Northern rgb(0, 0, 0) #000000
Piccadilly rgb(4, 80, 161) #0450A1
Victoria rgb(0, 159, 224) #009FE0
W&C rgb(112, 195, 206) #70C3CE
Overground rgb(248, 108, 0) #F86C00
DLR rgb(0, 187, 180) #00BBB4

*/

/* FLEX BOX STYLES */

body, .main, .input-form, .line-select {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1, h2, .header, .footer {
  display: flex;
  justify-content: center;
}

/* PADDING AND MARGIN */

body {
  margin: 0;
  padding: 8% 8%;
}