/*
TUBE LINE COLOURS!
Bakerloo rgb(174, 97, 24) #AE6118
Central rgb(228, 31, 31) #E41F1F
Circle rgb(248, 212, 45) #F8D42D
District rgb(0, 165, 117) #00A575
H&C rgb(232, 153, 168) #E899A8
Jubilee rgb(143, 152, 158) #8F989E
Metro rgb(137, 50, 103) #893267
Northern rgb(0, 0, 0) #000000
Piccadilly rgb(4, 80, 161) #0450A1
Victoria rgb(0, 159, 224) #009FE0
W&C rgb(112, 195, 206) #70C3CE
Overground rgb(248, 108, 0) #F86C00
DLR rgb(0, 187, 180) #00BBB4
*/

body {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0);
}

body,
.main,
.input-form,
.line-select,
.api-update,
.header,
.footer,
#line-status,
#input-gif {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
main {
  margin: 0;
}

/* START HEADER STYLING */

header {
  margin: 24px 0px;
  width: 24rem;
}

svg {
  height: 128px;
}

#tflphy-logo {
  color: #113b92;
  fill: currentColor;
}

/* END HEADER STYLING */

/* START BODY STYLING */

h2 {
  text-align: center;
  font-weight: 700;
  margin: 0 0 16px 0;
  padding: 0 32px;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
  text-align: center;
  margin: 16px 32px;
  /* padding: 0 8rem; */
}

select,
input {
  margin: 8px 0px;
  width: 24rem;
}

form > * {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
}

input[type="submit"] {
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background-color: #113b92;
  border-radius: 4px;
}

select:focus {
  outline: none !important;
}

input[type="submit"]:focus {
  outline: none !important;
  box-shadow: none;
}

/* style dropdown-list options */
#bakerloolist {
  background-color: #ae6118;
  }
  
  #centrallist {
  background-color: #e41f1f;
  color: black;
  }
  
  #circlelist {
  background-color: #f8d42d;
  }
  
  #districtlist {
  background-color: #00a575;
  }
  
  #handclist {
   background-color: #e899a8;
  }
  
  #jubileelist {
  background-color: #8f989e;
  }
  
  #metrolist {
  background-color: #893267;
  }
  
  #northernlist {
  background-color: #000;
  }
  
  #piccadillylist {
  background-color: #0450a1;
  }
  
  #victorialist {
  background-color: #009fe0;
  }
  
  #wandclist {
  background-color: #70c3ce;
  }
  
  #overgroundlist {
  background-color: #f86c00;
  }

  #dlrlist {
    background-color: #00AFAD;
  }
    
  #tflraillist {
    background-color: #0019A8;
  }

.hidden-img {
  display: none;
}

.reveal-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* END BODY STYLING */

/* START FOOTER STYLING */

footer {
  font-size: 0.75rem;
  margin: 24px 32px;
  text-align: center;
}

p {
  margin: 0;
}

/* END FOOTER STYLING */

/* START MEDIA QUERIES */

@media screen and (max-width: 450px) {
  header,
  select,
  input {
    width: 80vw;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  #input-gif > img {
    max-width: 90vw;
  }
}

/* END EMDIA QUERIES */
