body {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  text-align: center;
}

body,
form,
header,
#line-status,
#input-gif {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* START HEADER STYLING */

header {
  margin: 24px 0 16px 0;
  width: 24rem;
}

svg {
  height: 128px;
}

#tflphy-logo {
  color: rgba(17, 59, 146, 1);
  fill: currentColor;
}

/* END HEADER STYLING */

/* START BODY STYLING */

h2 {
  font-weight: 700;
  margin: 0 0 16px 0;
  padding: 0 32px;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
  margin: 16px 32px;
}

select,
input {
  margin: 8px 0px;
  width: 24rem;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
}

input[type="submit"] {
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background-color: rgba(17, 59, 146, 1);
  border-radius: 4px;
}

/* select:focus {
  find way to change outline colour to line colour
} */

input[type="submit"]:focus {
  box-shadow: none;
}

.hidden-img {
  display: none;
}

#error {
  text-align: center;
  font-size: 1.75rem;
}
/* END BODY STYLING */

/* START FOOTER STYLING */

footer {
  font-size: 0.75rem;
  margin: 24px 32px 16px 32px;
  text-align: center;
}

p {
  margin: 0;
}

/* END FOOTER STYLING */

/* START MEDIA QUERIES */

@media screen and (max-width: 450px) {
  header,
  select,
  input {
    width: 80vw;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  #input-gif > img {
    max-width: 90vw;
  }

  #error {
    font-size: 1.25rem;
  }
}

/* END MEDIA QUERIES */
