.bakerloo {
 color:#fff;
 background:#ae6118
}
.central {
 color:#fff;
 background:#e41f1f
}
.circle {
 color:#113b92;
 background:#f8d42d
}
.district {
 color:#fff;
 background:#00a575
}
.hammersmithandcity {
 color:#113b92;
 background:#e899a8
}
.jubilee {
 color:#fff;
 background:#8f989e
}
.metropolitan {
 color:#fff;
 background:#893267
}
.northern {
 color:#fff;
 background:#000
}
.piccadilly {
 color:#fff;
 background:#0450a1
}
.victoria {
 color:#fff;
 background:#009fe0
}
.waterlooandcity {
 color:#113b92;
 background:#70c3ce
}
.dlr {
 color:#fff;
 background:#00bbb4
}
.overground {
 color:#fff;
 background:#f86c00
}
.tflrail {
 color:#fff;
 background:#0019a8